﻿@model IKS.Models.EventModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.EventId)
        <div class="form-group">
            @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="modal fade" id="perfSelectModal" role="dialog" data-url="@Url.Action("PerformanceSelect", "Event")">
    @Html.Partial("PerformanceSelect")
</div>
<div class="well">
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <button data-toggle="modal" data-target="#perfSelectModal" class="btn btn-info">Add Performances</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Edit", "Performance", new { eventId = Model.EventId })'">Add New Performance</button>
</div>

@Html.MVCGrid(nameof(IKS.Grids.PerformanceGrid), new { eventId=Model.EventId})

<script type="text/javascript">
    
    window.SetPerformances = SetPerformances;
    
    function AddPerformances() {
        var url = $("#perfSelectModal").data('url');
        $.get(url, function (data) {
            $("#perfSelectModal").html(data);
            $("#perfSelectModal").html('show');
        })
    }
    function BackButton() {
        var url = '@Url.Action("Index", "Event")';

        if ('@Model.EventId' != null)
            url = '@Url.Action("Edit", "Event", new { id = Model.EventId })';
            //location.href = '@Url.Action("Edit", "Event", new { id = Model.EventId })';
        

        window.location.href = url;
    }
    function SetPerformances(p) {
        alert('Added performances');
        $.post('@Url.Action("AddPerformances", new { eventId = Model.EventId})&performanceIds=' + p);
        }
    @*function DeletePerformance(performanceId, eventId) {
        $.post('@Url.Action("Delete", new { eventId = Model.EventId})&performanceId=' + performanceId + eventId != null ? '&eventId=' + eventId : '');

        }*@
    function DeletePerformance(url) {
        $.post(url);

    }
</script>
