﻿<h1>Koncerti</h1>

@Html.MVCGrid(nameof(IKS.Grids.EventGrid))

<script type="text/javascript">

        jQuery(document).ready(function($){
            MVCGrid.reloadGrid('@MVCGridConfig.EventGrid');
        });

</script>