﻿@model IKS.Models.ItemModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.ActionLink("+Jauns Tērps", "Edit", "Item", new { id="", parentId=Model.ItemId }, new { @class = "btn btn-default" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ItemId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.IsNew)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Code)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Saglabāt</button>
    <hr />
    @Html.MVCGrid(nameof(IKS.Grids.ItemGrid), new { parentId = Model.ItemId })
}

<script>
    MVCGrid.setColumnVisibility()
</script>