﻿@Html.AntiForgeryToken()
<div class="well">
    @Html.ActionLink("+Jauns Tērps", "Edit", "Item", new { @class = "btn btn-default" })
</div>
@Html.MVCGrid(nameof(IKS.Grids.ItemGrid))
@*<script type="text/javascript">
    $(document).ready(function () {
        MVCGrid.setColumnVisibility('ColumnVisibilityGrid', @Html.Raw(ViewBag.ColumnVisibility));
    });

</script>*@