﻿@model IKS.Models.UserModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.GenderId)
    @Html.HiddenFor(model => model.IsNew)

    <div class="form-group">
        @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Login)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GenderId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.GenderId)
            @Html.ValidationMessageFor(model => model.GenderId)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Saglabāt</button>

}

