﻿@using MVCGrid.Web
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{ 
    <div class="well">
        @Html.ActionLink("+Jauns lietotājs", "Edit", "Users", new { @class = "btn btn-default" })
    </div>
    <div class="well">
        <div class="form-inline">
            <div class="form-group">
                <select class="form-control" data-mvcgrid-type="filter" data-mvcgrid-option="GenderId">
                    <option value="" disabled selected>Džeki/Meičas</option>
                    <option value=""></option>
                    <option value="Female">Meičas</option>
                    <option value="Male">Džeki</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login"
                       data-mvcgrid-type="filter" data-mvcgrid-option="Login" />
            </div>
            <div class="form-group">


                <input type="text" class="form-control" placeholder="First name"
                       data-mvcgrid-type="filter" data-mvcgrid-option="Username" />
            </div>
            <div class="form-group">
                <select class="form-control" data-mvcgrid-type="filter" data-mvcgrid-option="Status">
                    <option value="" disabled selected>Status</option>
                    <option value=""></option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <button type="button" class="btn btn-default" data-mvcgrid-apply-filter="click">Apply</button>
        </div>
    </div>
@Html.MVCGrid(nameof(IKS.Grids.UserGrid))
}
<style>

</style>