﻿
@{
    ViewBag.Title = "CardSelect";
}

@model IEnumerable<IKS.Models.ItemModel>

@foreach (var item in Model)
{
    //Html.Partial("SearchItem", item);
    <div class="card" style="width: 18rem;">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        @*<div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>*@
        @Html.Partial("SelectItem", item)
    </div>
}