﻿@model IKS.Models.HandoverModel
    <div class="well">

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.User.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.User.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.User.UserName)
                </div>
            </div>
        </div>
        <div class="form-inline">
            <button class="btn btn-default" name="Nodot" title="Nodot" onclick="return handOver()">Nodot</button>
            <button class="btn btn-default" name="Atgriezt" title="Atgriezt" onclick="return returnItems()">Atgriezt</button>
        </div>
    </div>
<div class="col-md-6 col-sm-12">
    <h2>Recent Items</h2>
    @Html.MVCGrid(nameof(IKS.Grids.ItemHandoverGrid))

</div>

<div class="col-md-6 col-sm-12">
    <h2>Recent Items</h2>
    @Html.MVCGrid(nameof(IKS.Grids.ItemHandoverGrid), new { GridType = IKS.Grids.GridType.Recieve, UserId = Model.User.UserId })

</div>

<script>
    //$(document).ready(new function () {

    //});
    function handOver() {
        $.post("@Url.Action("Handover", new {userId = Model.User.UserId})" + "&itemIds=" + GetSelectedItems());
        }
    function returnItems() {
        $.post("@Url.Action("Return", new {userId = Model.User.UserId})" + "&itemIds=" + GetSelectedItems());
        }
    function GetSelectedItems() {
        var selectedElements = [];
        $.each($('[id^="cbx_"]'), function (key, value) {
            if ($(value)[0].checked) {
                selectedElements.push($(value)[0].id)
            }
        });
        return selectedElements
    }
</script>
