﻿@model IKS.Models.PerformanceModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.PerformanceName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PerformanceName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PerformanceName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
    <hr />
<div>
    <button type="button" class="btn" onclick="BackButton()">Back to List</button>
    
</div>
<script type="text/javascript">
    function BackButton() {
        var url = '@Url.Action("Index", "Event")';

        if ('@Model.EventId' != '')
            url = '@Url.Action("Edit", "Event", new { id = Model.EventId })';
            //location.href = '@Url.Action("Edit", "Event", new { id = Model.EventId })';
        window.location.href = url;
        
    }

</script>
